body {
    background-color: #121212;
    font-family: 'Didot', serif;
}

header, footer {
    text-align: center;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section {
    background-color: #000000;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px, white;
}

header, p, h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 4px, white;
}
